<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMHLZ9tT7e_L-2wmvC6okWwcwmba5QCaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>463232764698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eltagweedElmoyasar</string>
	<key>PROJECT_ID</key>
	<string>eltagweed-elmoyasar</string>
	<key>STORAGE_BUCKET</key>
	<string>eltagweed-elmoyasar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463232764698:ios:6e2884a0200ed600fb7aa3</string>
</dict>
</plist>